:root {
  --ratio: 1.618;
  --fontSize: 1.125rem;
  --s5: calc(var(--ratio) * var(--s4));
  --s4: calc(var(--ratio) * var(--s3));
  --s3: calc(var(--ratio) * var(--s2));
  --s2: calc(var(--ratio) * var(--s1));
  --s1: calc(var(--ratio) * var(--s0));
  --s0: var(--fontSize);
  --giga: calc(var(--0) * 19);
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  min-height: 100vh;
  margin: 0;
}

h1 {
  display: none;
}

p {
 display: none;
  margin-block-end: 0;
  margin-block-start: 0;
}

text {
  font-size: var(--s5);
}
