:root {
  --ratio: 1.618;
  --fontSize: 1.125rem;
  --s5: calc(var(--ratio) * var(--s4));
  --s4: calc(var(--ratio) * var(--s3));
  --s3: calc(var(--ratio) * var(--s2));
  --s2: calc(var(--ratio) * var(--s1));
  --s1: calc(var(--ratio) * var(--s0));
  --s0: var(--fontSize);
  --giga: 19rem;
}

body {
  font-family: sans-serif;
}

p {
 
  margin-block-end: 0;
  margin-block-start: 0;
}

text {
  color: #fff;
  font-size: var(--s3);
  fill: #fff;
  filter: opacity(0.75);
}
